<a href="https://colab.research.google.com/github/sathyashivani29/Basic-Python-Hacktoberfest/blob/main/training01%2Cpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10
print(type(x))

<class 'int'>

In [ ]:
x=1.6
print(type(x))

<class 'float'>

In [ ]:
x="sathya shivani"
print(type(x))

<class 'str'>

In [ ]:
x=1
y=6
print(id(x))
print(id(y))

11530912
11531072

In [ ]:
x=1
y=x
print(id(x))
print(id(y))

11530912
11530912

In [ ]:
x=input("Enter the value of x")
y=input("Enter the value of y")
print(x+y)

Enter the value of x10
Enter the value of y15
1015

In [ ]:
x=int(input("Enter the value of x"))
y=int(input("Enter the value of y"))
print(x+y)

Enter the value of x10
Enter the value of y15
25

In [ ]:
x=int(input("enter the year of birth"))
y=int(input("enter the present year"))
print(y-x)

enter the year of birth2003
enter the present year2023
20

In [ ]:
import sys
x=60
sys.getsizeof(x)
z="sathya"
sys.getsizeof(z)

55

In [ ]:
n=int(input("Enter the no.of elements:"))
sum=0
for i in range(0,n):
  x=int(input())
  sum=sum+x
  avg=sum/n
  print(avg)

Enter the no.of elements:4
14
3.5
16
7.5
29
14.75
33
23.0

In [ ]:
print("Hi! Grandma")
print("How are you")

Hi! Grandma
How are you

In [ ]:
x=str(input("Enter the msg"))
print(x)

Enter the msgHi! Grandma
Hi! Grandma

In [ ]:
x=int(input("Enter the angle value"))
y=int(input("Enter the angle value"))
z=180
s=z-x+y
print(s)

Enter the angle value45
Enter the angle value65
200

In [ ]:
print('"Hi!Grandma"')

"Hi!Grandma"

In [ ]:
a=60
b=30
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

90
30
1800
2.0
2
221073919720733357899776000000000000000000000000000000

In [ ]:
x=10
y=3
add= x+y
sub= x-y
mul= x*y
div= x/y
modulo= x//y
ast=x**y
print("Addition:", add)
print("Subtraction:", sub)
print("Multiplication:", mul)
print("Division:", div)
print("Modulo:", modulo)
print("Exponential:", ast)
s= round(div,2)
print(s)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulo: 3
Exponential: 1000
3.33

In [ ]:
#write a program using relational operators 
x=14
y=29
print(x>y)
print(x<y)
print(x==y)
print(x!=y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

In [ ]:
# AND,OR,XOR
x=7
y=5
print(x<7 and x<5)
print(x<7 or x<5)
print(not(x<7 and x<5))

False
False
True

In [ ]:
# to find bitwise
x=10
print(x<<2)
print(x>>2)

40
2

In [ ]:
# assign the values of XOR,OR,AND using operators
x=7
print(5//x)
print(7!=x)

0
False

In [ ]:
x=20
y=6
div= x/y
s=round(div,3)
print(s)

3.333

In [ ]:
A=50
B=25
A-=B
A*=B
A/=B
A//=B
A**=B
print(A)

1.0

In [14]:
"""Three friends started a company with a lot of effort and they wanted to name it with all three friends starting letters being arranged in the alphabatical order. write a python program
Input: RAM
      RAMESH
       RAJA
Output: RRR"""

n=input()
m=input()
l=input()
arr=[]
arr.append(n[0:1])
arr.append(m[0:1])
arr.append(l[0:1])
arr.sort()
for i in arr:
  print(i,end="")

Ramesh
Ram
Raja
RRR

In [ ]:
#write a python program to swap two numbers using third variable
x=14
y=15

temp=x
x=y
y=temp

print("value of x", x)
print("value of y", y)

value of x 15
value of y 14

In [ ]:
#RAkesh generating a code name of his friends. Rakesh asks them to choose any 7-digit numbers. Rakesh extracts the last two digits and do concatenation with the participants name. the concatented output is the code name for the participants
#Input: Enter your name: Mahish
#Enter 7-digit number: 3347107
#Your code name is: Mahi07

name='Mahish'
len(name)
name[0:4]
number='3347107'
len(number)
number[5:7]
codename = name+number
print(codename)

Mahish3347107

In [ ]:
name=input("Enter the name")
x=(name[0:4])
print(x)
number=str(input("Enter the number"))
y=(number[5:7])
print(y)
print(x+y)

Enter the namemahish
mahi
Enter the number3347107
07
mahi07

In [ ]:
#Gauthm loves super heros, he used to imagine himself to be a hero. one day his teacher was taking a class about shapes and asked the students to find the area of the triangle using heros formula. gautham misheard 
#this as heros formula and was curious to discover the heros formula for finding the area of the triangle. help gautham to slove his math problem by using the correct logic in your code

#Input: enter the length of side A:6.8
#7.3
#5.4
#Output:17.5

import math
x=float(input("Enter length of side of traingle"))
y=float(input("Enter length of side of traingle"))
z=float(input("Enter length of side of traingle"))
s=(x+y+z)/2
print(s)
print(math.sqrt(s*(s-x)*(s-y)*(s-z)))

Enter length of side of traingle6.8
Enter length of side of traingle7.3
Enter length of side of traingle5.4
9.75
17.508179338526322

In [ ]:
#Rossum, was working as a captain of the giant ship. He was travelling from India to various countries around the world. The days of the travel may differ from one country to another.
#to plan the upcoming travel the johnson captain of the ship would like to know the travel days in the year:month:day format 
#input:
#enter the days:5768
#output:
#15years:9months:16 days

x=int(input("Enter the no.of days:"))
years=x//365
print(years)
months=(x-years*365)//30
print(months)
days=(x-years*365-months*31)
print(days)

Enter the no.of days:5768
15
9
14

In [ ]:
#Write a program to convert decimal number into binary,octal, hexadecimal
dec=10
print(bin(dec))
print(oct(dec))
print(hex(dec))

0b1010
0o12
0xa