<a href="https://colab.research.google.com/github/sathyashivani29/Basic-Python-Hacktoberfest/blob/main/Training02_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list:
groceries = ["bread","biscuits","chocolate"]
groceries.append("milk")
print(groceries)
print(type(groceries))

['bread', 'biscuits', 'chocolate', 'milk']
<class 'list'>

In [ ]:
#list:
groceries = ["bread","biscuits","chocolate"]
groceries.append("milk")
print(groceries)
groceries.extend(['x','y'])
print(groceries)
print(type(groceries))

['bread', 'biscuits', 'chocolate', 'milk']
['bread', 'biscuits', 'chocolate', 'milk', 'x', 'y']
<class 'list'>

In [ ]:
dict1 = {1:['one','three'],2:'two'}
print(dict1)
print(type(dict1))
print(dict1[1])

{1: ['one', 'three'], 2: 'two'}
<class 'dict'>
['one', 'three']

In [ ]:
#set
s1 = {1,5,6,4,2,3}
print(s1)

{1, 2, 3, 4, 5, 6}

In [ ]:
list1=tuple((1,2,4,5,6))
print(list1)

(1, 2, 4, 5, 6)

In [ ]:

 #write a program to take mark as input and display wheather it is pass (or) fail. Consider 40 is pass mark.
 
Marks=(int(input("Enter the marks:")))
if (Marks>=40):
   print ("pass")
else:
    print ("fail")

Enter the marks:53
pass

In [ ]:
a=(input("Enter the name:  "))
b=(input("Enter the registration the number:   "))
c=(input("Enter the D.O.B:  "))
d=int(input("Marks of sub1:   "))
e=int(input("Marks of sub2:   "))
f=int(input("Marks of sub3:   "))
T= d+e+f
print("Total marks:", T)
if(251<=T<=300):
    print("'O'grade")
elif(201<=T<=250):
    print("'A'grade")
elif(151<=T<=200):
    print("'B'grade")
elif(125<=x<=150):
    print("'P'grade")
else:
    print("'F'grade")
if(T>=125):
   print("Pass")
else:
   print("Fail")

Enter the name:  B.sathya shivani
Enter the registration the number:   322010320014
Enter the D.O.B:  04-03-2003
Marks of sub1:   60
Marks of sub2:   75
Marks of sub3:   70
Total marks: 205
'A'grade
Pass

In [ ]:
#Read the marks of the students and then print the grade.
#80-100-->'d grade'
#60-79-->'A grade'
#40-59-->'B grade'
#35-39-->'p grade'
#<35 --> 'F grade'

x=int(input("Enter the marks of the students:"))
if(80<=x<=100):
    print("'O'grade")
elif(60<=x<=79):
    print("'A'grade")
elif(40<=x<=59):
    print("'B'grade")
elif(35<=x<=39):
    print("'P'grade")
else:
    print("'F'grade")

Enter the marks of the students:65
'A'grade

In [ ]:
'''Company decides to give bonus to all its employees on Diwali. A 5% bonus on salary is given to male workers and 10% bonus is given to female workers.Write a program 
 enter the salary of the employee and sex of the employee. If the salary of the employee is lessthan Rs.10,000 then the employee gets an extra 2% bonus on salary. 
calculate the bonus that has to be given to the employee and display the salary that the employee will get.'''

a=input("Enter the employee name:  ")
b=input("Enter the sex(Male/Female):  ")
c=input("Enter the salary:  ")
n=int(input())
m=input()
if(m=="male" ):
  if(n<10,000):
     bonus=7*n/100
     print(n+bonus,"bonus",bonus)
  else:
    print(n+(5*n/100))
else:
  if(n<10,000):
     bonus=12*n/100
     print(n+bonus,"bonus",bonus)
  else:
    print(n+(10*n/100))

Enter the employee name:  shivani
Enter the sex(Male/Female):  female
Enter the salary:  10000
5000
6000
5600.0 bonus 600.0

In [ ]:
'''Arjun and suma are started fighting about their heights. Help them to find who is taller. Read the heights in cm, find who is taller and display the heights in inches.
input:
15(arjun height)
15.6(suma height)
output:
suma is taller than arjun
Arjun height is 5.90
suma height is 6.10'''

Arjun_height=float(input("Enter the height in cm:  "))
Suma_height=float(input("Enter the height in cm:  "))
inches1=Arjun_height/2.54
inches2=Suma_height/2.54
print(inches1)
print(inches2)
if inches1>inches2:
   print("Arjun is taller than Suma")
else:
  print("Suma is taller than Arjun")

Enter the height in cm:  15
Enter the height in cm:  15.6
5.905511811023622
6.141732283464567
Suma is taller than Arjun

In [ ]:
''' Write a program to find a year "Leap year" or not'''
year=int(input("Enter the year:  "))
if(year%4 == 0):
   print("It is a leapyear")
else:
     print("It is not a leapyear")

Enter the year:  2024
It is a leapyear

In [ ]:
''' Rohit has 'A' chocolates and mohit has 'B' chocolates. Rohit will do the following action 'K' times. If Rohit has one or more chocolates, eat one of his chocolates.
 Otherwise, If mohit has one or more chocolates, eat one of mohit's chocolates. If they both have no chocolates, do nothing.
Input:
A=211
B=232
K=56
output: 155   232
Input:
A=93
B=256
K=102
Output: 0     247'''

In [ ]:
'''A triple of numbers is said to be poor when two of those numbers are equal but the other number is different from those numbers are equal but the other number is different from those two numbers.
Input:
A=23
B=18
C=34
Output: not poor
Input:
A=39
B=28
C=39
Outour: poor'''
n=int(input())
m=int(input())
l=int(input())
if(n==m or m==l or n==l):
  print("poor")
else:
  print("not poor")

39
28
39
poor

In [ ]:
#An elephant decide to visit his friend. It turned out that the elephant's house is located at point 0 and his friend's house is located at point x(x>0) of the coordinate line. In one step the elephant  can move
#1,2,3,4 or 5 positions forward. Determine What is the minimum number of steps he need to make in order to get to his friend's house.
#input:
#X=458
#Output:
#steps:32
#input:
#x=762
#Output:
#steps:153

In [ ]:
#A=[29,52,73,18,24]
#B=[102,118,52,76,14]
#merge A & B(use extend)
#sort
#Find max(max())
#find min(Min())
#Find no.of occurances of '52'

A=[29,52,73,18,24]
B=[102,118,52,76,14]
C=A+B
print(C)
C.sort(reverse=True)
print("sortedlist", C)
Maxvalue = max(C)
print(Maxvalue)
Minvalue = min(C)
print(Minvalue)
print(A.count(52))
print(B.count(52))
print(C.count(52))

[29, 52, 73, 18, 24, 102, 118, 52, 76, 14]
sortedlist [118, 102, 76, 73, 52, 52, 29, 24, 18, 14]
118
14
1
1
2

In [ ]:
#write a python program to check wheather a triangle is Equilateral,isolateral, scalane.

S=int(input())
B=int(input())
C=int(input())
if S==B==C:
  print("equilateral triangle")
elif S==B!=C:
  print("isolateral triangle")
elif S!=B!=C:
  print("scalene triangle")

60
60
45
isolateral triangle

In [ ]:
Day 3

In [ ]:
course='Python'  #string slicing
       #012345
    #-6-5-4-3-2-1 (in negatives)
print(course[2:])
print(course[-6:-1])

thon
Pytho

In [ ]:
course='Python'  #upper() = uppercase conversion   
newcourse=course.upper()
print(course)
print(newcourse)

Python
PYTHON

In [ ]:
course='Python For Beginners'
index=course.find("For")
print(index)
print(course)

7
Python For Beginners

In [ ]:
#while loop
count=0
while (count < 5):
  count= count + 1
  print("GITAM")

GITAM
GITAM
GITAM
GITAM
GITAM

In [ ]:
'''for loop with range()
                iterator
for variable in range():       (end)   (start,end)    (start,stop,list)
          stmts
'''
for i in range(5,9):
  print(i)

5
6
7
8

In [ ]:
'''list1=[20,13,5]
for i in list1:
  print(i)'''

string='Python'
for i in string:
  print(i)

P
y
t
h
o
n

In [ ]:
x='I Am Shiva@14'
l=["@","#"," ","$","%","^","&"]
for i in x:
  if i.isupper():
    x=x.replace(i,'1')
  elif i.islower():
    x=x.replace(i,'0')
  else:
    if i in l:
      x=x.replace(i,"*")
    print(x)

1*Am*Shiva@14
1*10*Shiva@14
1*10*10000*14
1*10*10000*14
1*10*10000*14

In [ ]:
"""Read a sentence from user.Replace all capital letters with '1' and small letters with '0', If it is a special characters, replace it with '*'"""

In [ ]:
"""Read a sentence from the user and return the list of substrings in sorted order, where substrings are words of sentence."""

In [ ]:
""" The following is the list of places and the kind of transportation available in those places.Identify and display 
i>The place and most unique means of transport available there.
x=[car,truck,bus,flight]
y=[carts,bus,flight,truck,car]
ii>common mode of transportation in both places."""

In [ ]:
colors=["Red, Blue, Pink, Yellow, Green"]
n=len(colors)
i=0
while(i<n):
  print(colors[i])
  i=i+1
else:
  print("Done!")

Red, Blue, Pink, Yellow, Green
Done!

In [ ]:
for i in range(0,16):
  for j in range(0,7):
    print(i*j, end=" ")
  print()

0 0 0 0 0 0 0
0 1 2 3 4 5 6
0 2 4 6 8 10 12
0 3 6 9 12 15 18
0 4 8 12 16 20 24
0 5 10 15 20 25 30
0 6 12 18 24 30 36
0 7 14 21 28 35 42
0 8 16 24 32 40 48
0 9 18 27 36 45 54
0 10 20 30 40 50 60
0 11 22 33 44 55 66
0 12 24 36 48 60 72
0 13 26 39 52 65 78
0 14 28 42 56 70 84
0 15 30 45 60 75 90

In [ ]:
for i in range(1,7):
  for j in range(1,7):
    print(i*j)

1
2
3
4
5
6
2
4
6
8
10
12
3
6
9
12
15
18
4
8
12
16
20
24
5
10
15
20
25
30
6
12
18
24
30
36

In [ ]:
""" Chetan has N friends. He promised to give each of his N friends a pair of shoes(one left & one right shoe). He was about to go to the market to buy shoes where he realised, he already
    has m left shoes. Find the least no.of extra shoes he needs to by to ensure that he can give a pair of shoes to each of his N friends. For ex, if N=2, M=4, he already has 4 left shoes,
    so he must purchase 2 extra right shoes to f."""

In [ ]:
DAY-04

In [10]:
"""Write a program to calculate square root of a number. Demonstrate the use of break and continue statements."""
import math as m
n=int(input())
while(True):
  if n<0:
    break
  elif n==0:
    n+=1
    continue
  else:
    print(m.sqrt(n))
    break

5
2.23606797749979

In [ ]:
""" Dhoni was given a list of positive integers. His task is to find the leaders in the list. An element of list is leader. If it is greater than are equal to all the elements to the right side. Also,the
right most element is leader. Help dhoni to solve it.
Input:
7 4 5 7 3
output:
7 7 3
Input:
1 2 5 4 0
output:
5 4 0 """

In [43]:
"""String:
-convert a integer to char
-convert character to integer
-slicing
-specifing stride
-interpolating variable into string
-isalnum()
-isalpha()
-isidentifier()"""

print(chr(115))
chardata="s"
print(ord(chardata))
x="Shivani"
s1=slice(0,4)
print(x[s1])
s2=slice(1,5,2)
print(x[s2])
print(x.isalnum())
print(x.isalpha())
print(x.isidentifier())

s
115
Shiv
hv
True
True
True

In [52]:
"""using f-string interpolation"""

n1 = 'sathya'
n2 = 'I am an artist'
print(f'Hello!my name is {n1}, {n2}')

Hello!my name is sathya, I am an artist

In [8]:
"""Any 10 operations using tuples"""

tpl=()
print(tpl)
access_tuple = ('s', 'e', 1, 6, [7, 'a', 'l', 'm'])
print(access_tuple[0])
print(access_tuple[4][1])
print(len(access_tuple))

()
s
a
5

In [1]:
"""Any 10 operations on lists"""

num_list=[1,4,6,2]
num_list2=[4,5,6]
num_list.pop()
print(num_list)
print(len(num_list))
print(max(num_list))
print(min(num_list))
for element in num_list:
  print(element)
num_list.reverse
print(num_list)
print(num_list.count(20))
print(num_list.index(6))
print(sum(num_list))
print(sorted(num_list))

[1, 4, 6]
3
6
1
1
4
6
[1, 4, 6]
0
2
11
[1, 4, 6]

In [ ]:
"""In many jurisdictions a small deposit is added to drink contains to encourage people to recycle them.In one particular jurisdiction, drink containers holding one litre or less have a $0.10 deposit,
and drink containers holing more than one litre have a $0.25 deposit. Write a program that reads the no.of containers of each size from the user. Your program should continue by computing and displaying
the refund that will be receiver for returning those contains. Format the output so that it includes the dollar($) sign and always displays exactly two decimal places.